#footer{
    width: 100%;
    height: fit-content;
    background-color: black;
    padding: 40px 40px 20px 40px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footer-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    
}

.footer-items{
    color: #8a8a8a !important;
}

.pagamento{
    width: 80px;
    padding: 10px;
}