#content-body{
    width: 100%;
    height: fit-content;
    background-color: rgb(224, 224, 224);
    
}
#content-container{
padding: 40px;
}

ul{
    list-style-type: none !important;
    padding-inline-start: 0;
}

#lista-categorias
{
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding-inline-start: 0;
}

#lista-categorias > li{
    padding: 10px;
}

#lista-cursos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

